body {
    background-image: url('../uploads/team-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  }
  .welcome-section {
    height: calc(100vh - 56px); /* hauteur navbar */
  }
  ul li a{
    text-indent: 12px;
    text-decoration: none;
  }
  footer{
    background-color: rgb(117, 88, 197);
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  .animate-fade-in {
    animation: fadeIn 0.5s ease-out;
  }